@using Blazorbasic.Models.Enums;
@switch (Priority)
{
    case Priority.Low:
        <span class="badge badge-secondary">@nameof(Priority.Low)</span>
        break;
    case Priority.High:
        <span class="badge badge-danger">@nameof(Priority.High)</span>
        break;
    case Priority.Medium:
        <span class="badge badge-warning">@nameof(Priority.Medium)</span>
        break;
}


@code {
    [Parameter]
    public Priority Priority { set; get; }
}